/* Ember supports plain CSS out of the box. More info: https://cli.emberjs.com/release/advanced-use/stylesheets/ */

.cell {
  width: 100px;
  height: 100px;
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-board:not(.finished) .cell:not(.played):hover {
  background-color: #eee;
  cursor: pointer;
}
