<div class="container text-center mt-5 p-3 bg-light border">
  <div class="row justify-content-center">
    <div class="border-end border-bottom border-dark border-2 cell" id="1"></div>
    <div class="border-end border-bottom border-dark border-2 cell" id="2"></div>
    <div class="border-bottom border-dark border-2 cell" id="3"></div>
  </div>
  <div class="row justify-content-center">
    <div class="border-end border-bottom border-dark border-2 cell" id="4"></div>
    <div class="border-end border-bottom border-dark border-2 cell" id="5"></div>
    <div class="border-bottom border-dark border-2 cell" id="6"></div>
  </div>
  <div class="row justify-content-center">
    <div class="border-end border-dark border-2 cell" id="7"></div>
    <div class="border-end border-dark border-2 cell" id="8"></div>
    <div class="border-dark border-2 cell" id="9"></div>
  </div>
</div>
